# Sistema
.DS_Store
Thumbs.db
desktop.ini
ehthumbs.db
.Trash-*
.Trashes
.Spotlight-V100

# Sync conflict
.syncthing.*
.sync-conflict-*
*.sync-conflict-*

# Editor
.vscode/
.idea/
*.swp
*.swo
*~

# Archivos ocultos comunes
.fuse_hidden
.directory

# node
node_modules

# peronal
src/docs/20260821101736.md

# security
.env
.env.local
.env*.local
.vercel
